/* Contenedor general */
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.large-select {
    width: 220px;  /* Aumentar el ancho del selector */
    min-width: 200px;
    height: 50px;  /* Ajustar la altura */
    font-size: 14px; /* Aumentar el tamaño del texto */
}


/* Estilos del título de la página */
.referencia {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    font-size: 15px;
    margin-top: 1rem;
}

/* Alinear los selectores de Equipos y Histórico */
.encabezado {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.large-select {
    width: 400px; /* Aumentar el ancho de los selectores */
    min-width: 280px;
    height: 56px; /* Aumentar la altura */
    font-size: 16px; /* Aumentar el tamaño del texto */
}

/* Filtros alineados horizontalmente */
.filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin: 0rem 2rem;
    margin-top: 2rem;
}

/* Reducir tamaño de los select y fechas */
.filtros mat-form-field {
    width: 250px; /* Tamaño uniforme para select y fechas */
    min-width: 140px;
}

/* Estilos específicos para los campos de hora */
.filtros mat-form-field input[type="time"] {
    width: 120px; /* Reducir ancho de los inputs de hora */
}

/* Botones y cuadro de filtrado alineados */
.acciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;
}

/* Ajustar el tamaño del filtrado */
.acciones mat-form-field {
    flex-grow: 1;
    min-width: 250px;
}


/* Contenedor de la tabla */
.mat-elevation-z8 {
    margin: 2rem;
}

.botones{
    display: flex;
    align-items: center;
    gap: 10px;
    button[color="success"] {
        color: green !important;
    }
}

/* Botón de exportar Excel alineado a la derecha */
.exportar {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

/* Color de los bordes del input */
.foe {
    --mdc-outlined-text-field-outline-color: #d3d3d3;
}