<mat-sidenav-container class="example-container" *ngIf="!showChild">
    <mat-sidenav #sidenav [mode]="'over'" [position]="'end'">
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="referencia">
            <p>Retenes / Gestión de Retenes</p>         
        </div>

        <!-- Tabla Superior -->
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceSuperior" matSort>
                <ng-container matColumnDef="recurso">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="'lightgrey'"> Recurso </th>
                    <td mat-cell *matCellDef="let row"> {{ row.recurso }} </td>
                </ng-container>
                
                <ng-container matColumnDef="fechaInicio">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="'lightgrey'"> Fecha Inicio </th>
                    <td mat-cell *matCellDef="let row"> {{ row.fechaInicio }} </td>
                </ng-container>
                
                <ng-container matColumnDef="horaInicio">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="'lightgrey'"> Hora Inicio </th>
                    <td mat-cell *matCellDef="let row"> {{ row.horaInicio }} </td>
                </ng-container>
                
                <ng-container matColumnDef="fechaFin">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="'lightgrey'"> Fecha Fin </th>
                    <td mat-cell *matCellDef="let row"> {{ row.fechaFin }} </td>
                </ng-container>
                
                <ng-container matColumnDef="horaFin">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="'lightgrey'"> Hora Fin </th>
                    <td mat-cell *matCellDef="let row"> {{ row.horaFin }} </td>
                </ng-container>
                
                <ng-container matColumnDef="vehiculo">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="'lightgrey'"> Vehículo </th>
                    <td mat-cell *matCellDef="let row"> {{ row.vehiculo }} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumnsSuperior"></tr>
                <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsSuperior;"
                [style.background-color]="row === retenSeleccionado ? 'lightblue' : ''"
                (click)="seleccionarReten(row)"
              >
              </tr>
            </table>
        </div>
        
<!-- Filtros y selecciones -->
<div class="encabezado">
    <mat-form-field appearance="outline" class="foe large-select">
        <mat-label>Retenes activados</mat-label>
        <mat-select [(value)]="selectedTeam" (selectionChange)="newSelectedTeam()">
            <mat-option [value]="team" *ngFor="let team of displayedTeams">{{ team }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="foe large-select">
        <mat-label>Todos los retenes</mat-label>
        <mat-select [(value)]="selectedHistory">
            <mat-option [value]="history" *ngFor="let history of historyOptions">{{ history }}</mat-option>
        </mat-select>
    </mat-form-field>

<!-- Botones de acción -->
<div class="botones">
    <!-- Botón "Añadir Retén" -->
    <ng-container *ngIf="!modoAltaReten && !modoEdicionReten">
      <button mat-raised-button color="accent" (click)="iniciarAltaReten()">
        <mat-icon>add</mat-icon> Añadir Retén
      </button>
  
      <!-- Botones "Editar" y "Eliminar" solo si hay un retén seleccionado -->
      <button mat-raised-button color="primary" *ngIf="retenSeleccionado" (click)="iniciarEdicionReten()">
        <mat-icon>edit</mat-icon> Editar
      </button>
      <button mat-raised-button color="warn" *ngIf="retenSeleccionado" (click)="eliminarReten()">
        <mat-icon>delete</mat-icon> Eliminar
      </button>
    </ng-container>
  
    <!-- Botones "Confirmar" y "Cancelar" para alta o edición -->
    <ng-container *ngIf="modoAltaReten || modoEdicionReten">
      <button mat-raised-button color="success" (click)="confirmarReten()">
        <mat-icon>check</mat-icon> Confirmar
      </button>
      <button mat-raised-button color="warn" (click)="cancelarReten()">
        <mat-icon>close</mat-icon> Cancelar
      </button>
    </ng-container>
  </div>
</div>


        <!-- Filtros -->
        <div class="filtros">
            <mat-form-field appearance="outline">
                <mat-label>Recurso</mat-label>
                <input matInput placeholder="Escribe el recurso">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Fecha Inicio</mat-label>
                <input matInput [matDatepicker]="pickerInicio">
                <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Fecha Fin</mat-label>
                <input matInput [matDatepicker]="pickerFin">
                <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerFin></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Hora Inicio</mat-label>
                <input matInput type="time">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Hora Fin</mat-label>
                <input matInput type="time">
            </mat-form-field>

            <mat-checkbox [(ngModel)]="retenes.responsable" style="margin-bottom: 2rem;">Responsable</mat-checkbox>

        </div>

        <!-- Vehículo y Acciones -->
        <div class="acciones">
            <mat-form-field>
                <mat-label>Vehículo</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Introduce la matrícula" #input>
            </mat-form-field>
        </div>

        <!-- Tabla Inferior -->
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="color" mat-sort-header>
                        {{column.header}}
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{column.cell(row)}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="highlightRow(row)"
                    [class.demo-row-is-clicked]="clickedRows.has(row)"></tr>

                <!-- Fila sin datos -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">No hay datos disponibles</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"
                [style.background-color]="'lightgray'"></mat-paginator>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf="showChild"></router-outlet>
