<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="'over'" [position]="'end'"></mat-sidenav>

    <mat-sidenav-content>
        <div class="referencia">
            <p>Estado de las Carreteras</p>         
        </div>

        <!-- Contenedor de las prioridades -->
        <div class="tabla-carreteras">
            <div class="columna" *ngFor="let prioridad of prioridades">
                <h3>Prioridad {{ prioridad }}</h3>
                <div class="lista-carreteras">
                    <div *ngFor="let carretera of obtenerCarreterasPorPrioridad(prioridad)" 
                         class="carretera"
                         (click)="editarCarretera(carretera)">
                        <span class="nombre-carretera">{{ carretera.nombre }}</span>
                        <span class="separador">|</span>
                        <span class="estado-carretera" [ngClass]="getEstadoClase(carretera.estado)">
                            {{ carretera.estado }}
                        </span>
                        <span class="separador">|</span>
                        <span class="direccion-carretera">{{ carretera.direccion }}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nueva Sección: Modificación Masiva de Estados -->
        <div class="editar-masivo">
            <h3>Cambiar Estado de Varias Carreteras</h3>
        
            <!-- Selección de Prioridad -->
            <mat-form-field appearance="outline">
                <mat-label>Seleccionar Prioridad</mat-label>
                <mat-select [(value)]="prioridadSeleccionada" (selectionChange)="filtrarCarreterasPorPrioridad()">
                    <mat-option *ngFor="let p of prioridades" [value]="p">{{ p }}</mat-option>
                </mat-select>
            </mat-form-field>
        
            <!-- Selección de Carreteras -->
            <mat-form-field appearance="outline">
                <mat-label>Seleccionar Carreteras</mat-label>
                <mat-select multiple [(value)]="carreterasSeleccionadas">
                    <mat-option value="todas">Todas</mat-option>
                    <mat-option *ngFor="let carretera of carreterasFiltradas" [value]="carretera.nombre">
                        {{ carretera.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
            <!-- Selección de Estado -->
            <mat-form-field appearance="outline">
                <mat-label>Seleccionar Nuevo Estado</mat-label>
                <mat-select [(value)]="nuevoEstado">
                    <mat-option *ngFor="let estado of estados" [value]="estado" [ngClass]="getEstadoClase(estado)">
                        {{ estado }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
        
            <!-- Botón de Aplicar Cambio -->
            <div class="boton-guardar">
                <button mat-raised-button color="primary" (click)="actualizarEstados()">Guardar Cambios</button>
            </div>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
