<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
  </button>
  <img class="logoApp "src="assets/img/nieve.png" (click)="clickLogo()">
  <span class="toolbar-item-spacer"></span>
  <button mat-icon-button (click)="cerrarSesion()">
      <mat-icon>logout</mat-icon>
  </button>
  <button mat-icon-button>
      <mat-icon>layers</mat-icon>
  </button>
  <button mat-icon-button (click)="irAConfiguracion()">
    <mat-icon>settings</mat-icon>
  </button>  
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" color="primary">
      <mat-nav-list>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/">Inicio</a>
        </mat-list-item>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/equipos">Equipos</a>
        </mat-list-item>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/comunicaciones">Comunicaciones</a>
        </mat-list-item>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/carreteras">Carreteras</a>
        </mat-list-item>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/cuadrillas">Cuadrillas</a>
        </mat-list-item>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/retenes">Retenes</a>
        </mat-list-item>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/documentos-informes">Documentos e Informes</a>
        </mat-list-item>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/generador-consultas">Generador de Consultas</a>
        </mat-list-item>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/equipos-entrantes">Equipos Entrantes</a>
        </mat-list-item>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/estaciones-meteorologicas">Estaciones Meteorológicas</a>
        </mat-list-item>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/paneles">Paneles</a>
        </mat-list-item>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/fundentes">Fundentes</a>
        </mat-list-item>
        <mat-list-item class="parent full-parent-menu">
          <a mat-list-item routerLink="/visor">Visor geográfico</a>
        </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <div class="inicio" *ngIf="router.url === '/'">
          <button mat-raised-button (click)="abrirEquipos()">     
              <div class="button-contenido"> 
                  <img src="assets/img/equipos.png">
                  <label>Equipos</label>
              </div>   
          </button>
          <button mat-raised-button (click)="abrirComunicaciones()">       
              <div class="button-contenido"> 
                  <img src="assets/img/comunicaciones.png">
                  <label>Comunicaciones</label>
              </div>  
          </button>
          <button mat-raised-button (click)="abrirCarreteras()">         
              <div class="button-contenido"> 
                  <img src="assets/img/carreteras.png">
                  <label>Carreteras</label>
              </div>  
          </button>
          <button mat-raised-button (click)="abrirCuadrillas()">        
              <div class="button-contenido"> 
                  <img src="assets/img/cuadrillas.png">
                  <label>Cuadrillas</label>
              </div>
          </button>
          <button mat-raised-button (click)="abrirRetenes()">    
              <div class="button-contenido">      
                  <img src="assets/img/retenes.png">
                  <label>Retenes</label>
              </div>  
          </button>
          <button mat-raised-button (click)="abrirDocumentos()">    
              <div class="button-contenido">      
                  <img src="assets/img/documentos.png">
                  <label>Documentos e informes</label>
              </div>  
          </button>
          <button mat-raised-button (click)="abrirConsultas()">       
              <div class="button-contenido">   
                  <img src="assets/img/consultas.png">
                  <label>Consultas</label>
              </div>
          </button>
          <button mat-raised-button (click)="abrirEntrantes()"> 
              <div class="button-contenido">         
                  <img src="assets/img/entrantes.png">
                  <label>Equipos Entrantes</label>
              </div>
          </button>
          <button mat-raised-button (click)="abrirMeteorologia()">    
              <div class="button-contenido">      
                  <img src="assets/img/meteorologia.png">
                  <label>Estaciones Meteorológicas</label>
              </div>
          </button>
          <button mat-raised-button (click)="abrirPaneles()">         
              <div class="button-contenido"> 
                  <img src="assets/img/paneles.png">
                  <label>Paneles</label>
              </div>
          </button>
          <button mat-raised-button (click)="abrirFundentes()">    
              <div class="button-contenido"> 
                  <img src="assets/img/fundentes.png">
                  <label>Fundentes</label>
              </div>
          </button>
          <button mat-raised-button (click)="abrirVisor()">    
              <div class="button-contenido">      
                  <img src="assets/img/visor.png">
                  <label>Visor</label>
              </div>
          </button>
      </div>

      <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
