<div class="container">
    <h1 mat-dialog-title>Editar Carretera</h1>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <form [formGroup]="form">
            <!-- Nombre bloqueado (se define en el FormGroup como disabled) -->
            <mat-form-field appearance="outline">
                <mat-label>Nombre de la Carretera</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>

            <!-- Prioridad bloqueada (se define en el FormGroup como disabled) -->
            <mat-form-field appearance="outline">
                <mat-label>Prioridad</mat-label>
                <input matInput formControlName="prioridad">
            </mat-form-field>

            <!-- Estado editable -->
            <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado">
                    <mat-option *ngFor="let e of estados" [value]="e">{{ e }}</mat-option>
                </mat-select>
            </mat-form-field>

            <div mat-dialog-actions>
                <button mat-raised-button mat-dialog-close color="warn" (click)="cancelar()">Cerrar</button>
                <button mat-raised-button mat-dialog-save color="accent" [disabled]="form.invalid"
                    (click)="guardarCambios()">Guardar</button>
            </div>
        </form>
    </div>
</div>
