<div class="container">
    <h1 mat-dialog-title>Crear Nueva Campaña</h1>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <form [formGroup]="form">
            <!-- Fecha Fin de Campaña Anterior (Editable) -->
            <mat-form-field appearance="outline">
                <mat-label>Fecha fin de campaña anterior</mat-label>
                <input matInput [matDatepicker]="pickerFinAnterior" formControlName="fechaFinAnterior">
                <mat-datepicker-toggle matSuffix [for]="pickerFinAnterior"></mat-datepicker-toggle>
                <mat-datepicker #pickerFinAnterior></mat-datepicker>
            </mat-form-field>

            <!-- Selección de Fecha de Inicio -->
            <mat-form-field appearance="outline">
                <mat-label>Fecha de Inicio</mat-label>
                <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio">
                <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio></mat-datepicker>
            </mat-form-field>

            <!-- Añadir Título de la Campaña -->
            <mat-form-field appearance="outline">
                <mat-label>Título de la campaña</mat-label>
                <input matInput formControlName="tituloCampana">
            </mat-form-field>

            <div mat-dialog-actions>
                <button mat-raised-button color="warn" (click)="cancelar()">Cerrar</button>
                <button mat-raised-button color="primary" [disabled]="form.invalid || isLoading" (click)="guardar()">
                    <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
                    <span *ngIf="!isLoading">Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>
