<div class="container">
    <h1 mat-dialog-title>Crear Nueva Campaña</h1>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <form [formGroup]="form">
            <!-- Selección de Fecha de Inicio -->
            <mat-form-field appearance="outline">
                <mat-label>Fecha de Inicio</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div mat-dialog-actions>
                <button mat-raised-button mat-dialog-close color="warn" (click)="cancelar()">Cerrar</button>
                <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="guardar()">Guardar</button>
            </div>
        </form>
    </div>
</div>
