.contenedor-equipos-nuevos {
    padding: 1rem;
  }
  
  /* Contenedor del encabezado con el título y botón */
  .equipos-header {
    display: flex;
    justify-content: space-between; /* Alinea el título a la izquierda y el botón a la derecha */
    align-items: center;
    margin-left: 10px;
  }
  
  /* Ajustes del título */
  .equipos-header h2 {
    font-size: 15px;
    margin: 0;
  }
  
  /* Ajustes del botón */
  .equipos-header button {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  /* Contenedor del calendario */
  .calendario-container {
    overflow-x: auto; /* Scroll si es necesario */
    padding-top: 1rem;
  }
  