<mat-sidenav-container class="example-container" *ngIf="!showChild">
    <mat-sidenav #sidenav [mode]="'over'" [position]="'end'">
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="referencia">
            <p>Comunicaciones / Gestión de Comunicaciones</p>         
        </div>

        <div class="contenedor-principal">
            <h2 class="titulo-principal">VIALIDAD INVERNAL</h2>
        
            <!-- Botones superiores -->
            <div class="botones-superiores">
                <button class="boton-zona">CECO</button>
                <button class="boton-zona">SOS DEIAK</button>
                <button class="boton-zona">PRIVADO</button>
                <button class="boton-zona">RVI</button>
                <button class="boton-zona">COPO 0</button>
                <button class="boton-zona">AUC</button>
            </div>
        
            <!-- Tabla de zonas -->
            <table class="tabla-vialidad">
                <thead>
                    <tr>
                        <th>ZONA N-622</th>
                        <th>ZONA N-1 EGUINO</th>
                        <th>ZONA N-1 CASTILLA</th>
                        <th>ZONA N-240</th>
                        <th>ZONA A-132</th>
                        <th>ZONA AYALA</th>
                        <th>ZONA RIOJA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fila of equiposCarreteras">
                        <td *ngFor="let columna of fila" class="celda">
                            <div class="equipo-container">
                                <span class="copo">{{ columna.equipo }}</span>
                                <span class="carretera">{{ columna.carretera }}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="encabezado">
            <mat-form-field appearance="outline" class="foe large-select">
                <mat-label>Equipos dados de alta</mat-label>
                <mat-select [(value)]="selectedTeam">
                    <mat-option *ngFor="let team of displayedTeams" [value]="team">{{ team }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="foe large-select">
                <mat-label>Comunicaciones</mat-label>
                <mat-select [(value)]="selectedHistory">
                    <mat-option *ngFor="let history of historyOptions" [value]="history">{{ history }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Vehículo</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Introduce la matrícula" #input>
            </mat-form-field>
        </div>

<!-- Tabla de registros sin las columnas de acción -->
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="styled-table">
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef class="header-cell">
                {{ column.header }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ column.cell(row) }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">No hay datos disponibles</td>
        </tr>
    </table>

    <!-- Paginador -->
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"
        [style.background-color]="'lightgray'"></mat-paginator>
</div>


        <!-- Filtros de fecha y hora -->
        <div class="filtros">
            <mat-form-field appearance="outline">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="pickerFecha">
                <mat-datepicker-toggle matSuffix [for]="pickerFecha"></mat-datepicker-toggle>
                <mat-datepicker #pickerFecha></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Hora</mat-label>
                <input matInput type="time">
            </mat-form-field>
        </div>

        <!-- Filtros adicionales -->
        <div class="filtros2">
            <mat-form-field appearance="outline">
                <mat-label>Zona</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Prioridad</mat-label>
                <input matInput type="number">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Carretera</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>PK. Inicio</mat-label>
                <input matInput type="number">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>PK. Fin</mat-label>
                <input matInput type="number">
            </mat-form-field>
        </div>

                <!-- Filtros adicionales -->
                <div class="filtros2">
                    <mat-form-field appearance="outline">
                        <mat-label>Tarea del equipo</mat-label>
                        <input matInput>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Estado de la carretera</mat-label>
                        <input matInput type="number">
                    </mat-form-field>
        
                    <mat-form-field appearance="outline">
                        <mat-label>A tener en cuenta por</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

        <!-- Observaciones -->
        <div class="observaciones">
            <mat-form-field appearance="outline">
                <mat-label>Observaciones</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>

        <!-- Botones de acción -->
        <div class="acciones">
            <button mat-raised-button color="accent" (click)="nuevaComunicacion()">
                <mat-icon>add</mat-icon> Nueva Comunicación
            </button>
            <button mat-raised-button color="primary" (click)="nuevaComunicacion()">
                <mat-icon>edit</mat-icon> Editar
            </button>
            <button mat-raised-button color="warn" (click)="borrarComunicacion()">
                <mat-icon>delete</mat-icon> Eliminar
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf="showChild"></router-outlet>


